* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  border-radius: 5px;
  border-style: none;
}

::placeholder {
    color: #b76c2f;
    opacity: 0.5;
} 

body {
  margin: 0;
  background-color: #cd9466;
}

.nav-form {
  background-color: #9e9186;
  width: 600px;
  /* margin-right: auto;
  margin-left: auto; */
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.login-form {
  background-color: #BF5700;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-field {
  background-color: #FDFAFD;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 260px;
  color: #333F48;
}

.links {
  margin-top: 20px;
}

.links a {
  font-size: 12px;
  color: #333F48;
}

.button {
  background-color: #cbc0b7;
  width: 260px;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/* LOGOUT BUTTON */
.logout-button {
  /* margin-right: 1rem; */
  padding: 14px 16px;
  background-color: #333333;
  color: white;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  /* font-size: 14px; */
}

.logout-button:hover {
  background-color: #111111;
}

/* IMAGE BUTTON */
.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  /* margin-top: 30px; */
}