* {
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
  border-radius: 5px;
  border-style: none;
}
h1 {
  font-family: 'Avantgarde', sans-serif;
  font-variant: small-caps;
}
/* ::placeholder {
    color: #b76c2f;
    opacity: 0.5;
}  */

body {
  margin: 0;
  background-color: #e2d3c6;
}

.create-project-button {
  background-color: #cbc0b7;
  width: 260px;
  border: none;
  border-radius: 45px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.nav-form {
  background-color: #9e9186;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 50%;
}

.login-form {
  background-color: #BF5700;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-field {
  background-color: #FDFAFD;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 260px;
  color: #333F48;
}

.links {
  margin-top: 20px;
}

.links a {
  font-size: 12px;
  color: #333F48;
}

.button {
  background-color: #cbc0b7;
  width: 260px;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  border-radius: 45px;
}

/* LOGOUT BUTTON */
.logout-button {
  margin-right: 1rem;
  padding: 14px 16px;
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 45px;
}

.logout-button:hover {
  background-color: #111111;
}

/* HOMEPAGE IMAGE BUTTON */
.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.image-button p {
  max-width: 200px;
  word-wrap: break-word;
  margin: 10px auto;
  text-align: center;
}

/* PROJECT TABLE */
.project-table {
    border-collapse: collapse;
    margin: 25px auto;
    /* font-size: 0.9em; */
    font-family: sans-serif;
    min-width: 400px;
    width: 60%;
}

.project-table thead tr {
    background-color: #BF5700;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}
.project-table tbody tr {
    border-bottom: 1px solid #ddb796;
    border-left: 1px solid #ddb796;
    border-right: 1px solid #ddb796;
    text-align: left;
}

.project-table tbody tr.active-row {
    font-weight: bold;
    color: #BF5700;
}

